.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.contactContainer {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid white; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* background-color: blue; */
}
.chatContainer {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: green; */
}
.headerContainer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a73e8;
  color: white;
  /* border: 1px solid black; */
}
.profileAvatarContainer {
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarContainer {
  background-color: #f2f3f1;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.OptionsIconContainer {
  background-color: #1a73e8;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contactListContainer {
  background-color: #f0f0f0;
  width: 100%;
  height: 70%;
}
.chat {
  /* background-color: blue; */
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatInputContainer {
  background-color: #1b73e9;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBarIcon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: 2px;
  cursor: pointer;
}
.searchBar {
  width: 90%;
  height: 65%;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBarInput {
  width: 90%;
  height: 100%;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.08em;
}
.searchBarInput:focus {
  outline: none;
}
.OptionsIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.OptionsIconContainer div {
  /* background-color: green; */
  border-right: 2px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33.3%;
}
.profileOverviewContainer {
  /* background-color: green; */
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.chatIcon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.chatInput {
  height: 70%;
  width: 90%;
  border-radius: 25px;
  font-size: 1.1em;
  border: none;
  padding-left: 15px;
}
.chatIconContainer {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 15px;
  /* background-color: yellow; */
}
.chatInput:focus {
  outline: none;
}
.searchBar:first-child {
  display: flex;
  align-items: center;
}
.searchBarIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
