.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  flex-direction: column;
  /* background-color: red; */
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.headerContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fffefe;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  /* margin-top: 1px; */
}
.slideIcon {
  font-size: 1.8rem;
  color: #75797d;
  cursor: pointer;
  /* margin-top: 10px; */
}
.companyNameLogo {
  /* background-color: blue; */
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  object-fit: contain;
  font-size: 1.8rem;
  color: #75797d;
  font-weight: 500;
  cursor: pointer;
}
.companyNameLogo img {
  width: 80px;
  height: 50px;
}
.input {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f4;
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.3rem;
  font-weight: 500;
  border: 2px solid #f1f3f4;
  /* padding-left: 15px; */
  font-family: "Lato";
}
.input:focus {
  outline: none;
}
.profileAvatarContainer {
  background-color: black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #f1f3f4;
}
.animatedAvatar {
  border: 2px solid black;
}
.inputContainer {
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 15px;
  padding-left: 15px;
}
.highlight {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.chatIcon {
  cursor: pointer;
  color: #75797d;
  font-size: 1.8rem;
  margin-top: 3px;
}
.chatContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffefe;
  /* background-color: red; */
}
.chatIconContainer {
  /* background-color: red; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatIconContainer:hover {
  background-color: #e3e5e6;
}
.chatOptionsContainer {
  height: 100%;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* background-color: blue; */
}
.searchResultContainer {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  font-weight: 500;
  color: #29292d;
  /* background-color: green; */
}
.chatOptionContainer {
  width: 100%;
  height: 40%;
  /* background-color: red; */
  /* border: 2px solid black; */
}
.serachResultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startMeetContainer {
  width: 100%;
  height: 20%;
  /* background-color: green; */
}
.chatOptionHeadContainer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  background-color: #f1f3f4;
  color: #29292d;
  cursor: pointer;
  /* border-bottom: 2px solid #f1f3f4; */
}
.chatOptionMeetHeadContainer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  background-color: #f1f3f4;
  /* background-color: #2077e9; */
  cursor: pointer;
  color: #29292d;
}
.chatsSpacesContainer {
  /* background-color: red; */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nilChatSpacesHeadContainer {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  color: #767b7f;
  flex-direction: column;
}
.nilChatSpacesHeadContainer div {
  color: #2077e9;
  cursor: pointer;
  /* background-color: red; */
  padding: 5px;
}
.startMeetOptionsContainer {
  /* background-color: red; */
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.startMeetOptionContainer {
  /* background-color: blue; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  cursor: pointer;
  color: #212024;
}
.startMeetOptionContainer p {
  margin-left: 15px;
}
.startMeetOptionContainer:hover {
  background-color: #e3e5e6;
}
.logOutContainer {
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  position: fixed;
  height: 5vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 92vw;
  margin-top: 11vh;
  cursor: pointer;
}
.logOutContainer:hover {
  background-color: #e3e5e6;
}
