.navBar {
  /* background-image: linear-gradient(to bottom, #696969, transparent); */
  background-color: #fafcfe;
  /* background-color: red; */
  height: 12vh;
  width: 100%;
  color: #75797d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding-left: 2vw;
  font-family: "Lato";
  z-index: 1;
}
.navBarlogo {
  cursor: pointer;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  /* background-color: blue; */
  /* border: 2px solid black; */
}

.signInSignUpContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  height: 100%;
  width: 30%;
  /* font-weight: bold; */
  font-size: 1.5em;
  /* background-color: black; */
  /* background-color: #e5e5e3; */
}
.signInSignUpContainer div {
  cursor: pointer;
  color: #1a73e8;
  /* background-color: #1a73e8; */
  border: 2px solid #1a73e8;
  height: 50%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.signInSignUpContainer div:hover {
  background-color: #1a73e8;
  color: white;
}
.authOption {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 0.7em;
}
