.navBar {
  /* background-image: linear-gradient(to bottom, #696969, transparent); */
  background-color: #fafcfe;
  /* background-color: red; */
  height: 12vh;
  width: 100%;
  color: #75797d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding-left: 2vw;
  font-family: "Lato";
}
.navBarlogo {
  cursor: pointer;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  /* border: 2px solid black; */
}

.signInSignUpContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  height: 100%;
  width: 30%;
  /* font-weight: bold; */
  font-size: 1.8em;
  /* background-color: #e5e5e3; */
}
.signInSignUpContainer div {
  cursor: pointer;
}
