.container {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.videoContainer {
  background-color: #212024;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myVideo {
  width: 80%;
  height: 95%;
  object-fit: cover;
}
.videoOptionsSubContainer {
  /* position: absolute; */
  width: 35%;
  height: 100%;
  background-color: #212024;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.iconButtonContainer {
  background-color: #3d4042;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconButton {
  color: #ffffff;
}
.videoOptionsContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: CENTER;
  align-items: center;
  background-color: #212024;
}
