.container {
  height: auto;
  width: 99%;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 1vh;
  display: flex;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}
.username {
  /* font-size: 0.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
  /* background-color: red; */
  /* height: 40%; */
}
.right {
  justify-content: flex-end;
}
.left {
  justify-content: flex-start;
}
.messageContainer {
  background-color: #f5f5f5;
  height: auto;
  width: auto;
  /* background-color: red; */
  min-width: 10vw;
  max-width: 25vw;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}
.message {
  padding: 10px;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: auto;
  /* background-color: green; */
}
.dateContainer {
  font-size: 0.3em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-end;
  /* margin-bottom: 5px; */
  margin-right: 5px;
  /* background-color: green; */
}
