.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
.meetDetails {
  position: fixed;
  height: 35%;
  width: 40%;
  background-color: #fefffe;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* opacity: 1; */
  border-radius: 5px;
  z-index: 101;
  padding-bottom: 5px;
}
.meetDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  background-color: #282a2c;
  opacity: 0.62;
}
.input {
  width: 90%;
  height: 20%;
  font-size: 1.2em;
  font-family: "Lato";
  /* border-radius: 5px; */
  /* outline: none; */
  border: none;
  background-color: #f5f4f4;
  padding-left: 15px;
  border-bottom: 2px solid #202021;
}
.input:focus {
  outline: none;
  border-bottom: 3px solid #1a73e8;
  background-color: #e3e5e6;
}

.joinButton {
  width: 20%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Lato";
  border-radius: 5px;
  border: none;
  background-color: #1a73e8;
  color: white;
  cursor: pointer;
}
.meetDetailsheading {
  /* background-color: red; */
  width: 90%;
  height: 20%;
  font-size: 1.6em;
  font-family: "Lato";
  color: #202021;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 30px; */
  /* padding-right: 15%; */
}
.clearIcon {
  /* position: absolute; */
  cursor: pointer;
  /* left: 30px; */
  /* margin-right: 10px; */
  font-size: 1.1em;
}
.clearIcon:hover {
  color: #1a73e8;
}
.buttonContainer {
  height: 16%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* padding-right: 35px; */
  /* background-color: red; */
}
.meetDetailsSubHeading {
  font-size: 1.2em;
  font-family: "Lato";
  color: #7f8286;
  height: 20%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.meetIdContainer {
  width: 85%;
  height: 20%;
  font-size: 1.2em;
  font-family: "Lato";
  border: none;
  background-color: #f5f4f4;
  /* background-color: red; */
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  color: #282a2c;
}
.warningContainer {
  color: red;
  /* background-color: green; */
  width: 90%;
  /* height: auto; */
}
