.landingPage {
  background-color: #100d0b;
  height: auto;
  width: 100%;
  color: #e5e5e3;
}
.landingPageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 13vh;
  height: 87vh;
  width: 100%;
  background-color: #100d0b;
  color: #e5e5e3;
  padding-left: 5%;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}
.logo {
  opacity: 0;
  margin-left: -30%;
  animation: fadeInUp 5s ease forwards, slide 2.5s forwards;
}
@keyframes slide {
  100% {
    margin-left: 50%;
  }
}
.animationCompleted {
  margin-left: 0%;
}
.landingPageTagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  animation: fadeInUp 5s ease forwards;
  width: 40%;
  font-size: 1.8em;
  opacity: 0;
}
